@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  position: relative;
  padding-top: 5em;
  font-family: "Lato", sans-serif;
  font-size: 13pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c8dbf5;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.25em 0;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

#header {
  background: #1c1c1c;
  color: #d5d5d5;
  cursor: default;
  height: 5em;
  left: 0;
  line-height: 5em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header .logo {
  font-family: "Dancing Script", cursive;
  display: inline-block;
  height: inherit;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  color: #c8dbf5;
  font-size: 1.75em;
  text-transform: none;
  font-weight: normal;
  padding: 0;
}

#header .logo:hover {
  color: rgba(116, 150, 194, 0.6);
}

#header a {
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 2em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
}

#header a:hover {
  color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
  padding-right: 0em;
}

#banner {
  padding: 10em 0 10em 0;
  background-image: url(https://i.picsum.photos/id/78/1200/700.jpg?hmac=I5XesJ1LFXoLapnx0rx3JPC7U4tRVbyJhm2c81khjRQ);
  background-size: cover;
  text-align: left;
  z-index: 9999;
}

#banner h1 {
  font-size: 2em;
  padding: 0;
  letter-spacing: 3px;
  color: #fff;
}

#banner h1 span {
  font-weight: 400;
}

#one {
  padding: 6em 0 6em 0;
}

#two {
  padding: 6em 0 6em 0;
  background: linear-gradient(
    to right,
    #f3f3f3 0%,
    #f3f3f3 50%,
    #f7f7f7 0%,
    #f7f7f7 100%
  );
}

#two .inner {
  display: flex;
  flex-direction: row;
}

#two .inner article {
  width: 50%;
}

#two .inner article:first-child {
  padding-right: 6em;
}

#two .inner article:last-child {
  padding-left: 6em;
}

.image {
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image img {
  border-radius: 0;
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#footer {
  background-color: #c8dbf5;
  padding: 3em 0 2em 0;
  background: #c8dbf5;
  color: #ffffff;
}

#footer .copyright {
  font-size: 0.9em;
}

#footer .copyright a {
  color: #ffffff;
  text-decoration: none;
}

section .inner,
#header .inner,
#footer .inner {
  max-width: 65em;
  width: calc(100% - 5em);
  margin: 0 auto;
  position: relative;
}
